{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
	<a href="{% url 'tasks' %}">&#8592;Back</a>
</div>

<div class="card-body">
	<form method="POST" action="">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" value="submit" class="button"> 
</form>

</div>

{% endblock content%}
