{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
	<a href="{% url 'tasks' %}">&#8592;Go Back</a>
</div>

<div class="card-body">
<form method="POST" action="">
	{% csrf_token%}
	<p> Are you sure you want to delete this task? "{{task}}"</p>
	<input class="button" type="submit" value="delete"/>
</form>
</div>
{% endblock content %}
