{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
	<div>
		<h1>Hello {{request.user|title}}</h1>
		<h3 style="margin:0">you have <i>{{count}}</i> incomplete task{{count|		pluralize:'s'}}</h3>
	</div>
	{% if request.user.is_authenticated %}
	<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

</div>


<div id="search-add-wrapper" style="display:flex;">
	<form method="GET" style="margin-top:20px;display:flex;">
		<input type="text" name="search-area" value="{{search_input}}">
		<input class="button" type="submit" value="search"> 
	</form> 
	<a id="add-link" href="{% url 'task-create'%}">&#x2b;</a>
</div>







<div class="task-item-wrapper" >

	{% for task in tasks %}
	<div class="task-wrapper">
		{% if task.complete  %}
			<div class="task-title">
				<div class="task-complete-icon"> </div>
				<i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
			</div>
			<a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
			{% else %}
			<div class="task-title">
				<div class="task-incomplete-icon"></div>
				<a href="{% url 'task-update' task.id %}">{{task}}</a>
				</div>
		<a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
		{% endif %}	
		</div>
	{% empty %}
	<h3>no items in the list</h3>
	{% endfor %}
</div>

	
{% endblock content %}
